{% extends 'base.html' %}
{% block conteudo %}
    <div class='container'>
      <div class='title'>Conheça a equipe SEAB</div>
      Pensando na sociedade como um todo, imaginamos a melhor maneira de ajudar o mundo a ser um lugar um pouquinho melhor e com menos problemas. Percebemos que muitos indivíduos se interessam pela realidade dos bombeiros, inclusive os criadores desse projeto. Sendo uma área exemplo do campo militar, refletimos muito sobre como poderíamos melhorar o funcionamento do corpo de bombeiros e percebemos que seu sistema de chamadas pode ser melhorado. Desde a baixa memória dos cidadãos com os números de serviços gerais, incluindo o nervosismo enquanto a viatura não chega, percebemos que poderíamos ajudar os dois lados, ou seja, vítima e salvador, através de um aplicativo, esse que você está utilizando agora.
<br>
Assim, esse aplicativo utiliza um sistema com um simples botão, para que você ligue para os bombeiros e um mapa da viatura, que apresenta o trajeto do transporte até o destino, para ajudar um pouco na ansiedade.
<br>
Conta ainda com um FAQ, tendo algumas curiosidades sobre os bombeiros e sobre o que fazer em situações específicas, além de um pequeno manual de primeiros socorros para situações em que eles sejam essenciais.
<br>
<img class='img_especial_5' src="{{ url_for('static', filename='equipe.jpg') }}"><br>
Somos pessoas normais, somos estudantes aspirantes a transformadores desse nosso pequeno planeta, somos Arthur, Lívia, Mateus, Nathan, Raphaela e Sophia e esperamos que esse app seja útil e ajude a melhorar o planeta que vivemos.
<br>
À equipe SEAB.
<br>
    </div>

{% endblock %}